<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="iPhone">
      <div class="conversation">

        <% if @name %>
        <div class="text sent">
          <div class="reflect"></div>
          <p>Your message to <%= @name %> was sent.</p>
        </div>
        <% end %>
        
        <form action="/sendmessage" method="post">
            <input type="text" name="name"><br>
            <input type="text" name="sender"><br>
            <input type="textarea" name="message"><br>
            <input type="submit" value="Send">
        </form>
        
      </div>
    </div>
  </body>
</html>
